body {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Comfortaa', cursive;
    background: #e3f6f5;
}
.container {
    background: #f8fcfd;
    text-align: center;
    width: 900px;
    padding: 30px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.096), 0 15px 12px rgba(0, 0, 0, 0.096);
    border-radius: 10px;
}
.row {
    padding: 15px;
}
h1{
    text-align: left;
    font-size: 42px;
    line-height: 72px;
    font-weight: 500;
}
h2 {
    text-align: left;
    font-size: 24px;
}
h3 {
    text-align: left;
    font-size: 24px;
}
h1, h2, h3 {
    color: #272343;
}
h2:first-letter {
    text-transform: capitalize;
}
ul {
    font-size: 24px;
    text-align: left;
    list-style: none;
}
li {
    text-align: left;
    line-height: 36px;
}
a {
    text-decoration: none;
    color: #272343;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #2723434a;
}
.temperatureNow {
    font-size: 60px;
    color: #272343;
    font-weight: normal;
    line-height: 80px;
}
.units {
font-size: 24px;
color: #272343;
vertical-align: top;
}
.img {
    width: 90px;
    margin: 0 auto;
    vertical-align: top;
}
.weather-app .btn {
    display: block;
    background: #e3f6f5;
    color: #272343;
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    box-shadow: none;
    border: solid 1px #e3f6f5;
}
.weather-app .form-control {
    padding: 10px;
    border: solid 1px #d5f0ee;
}
.weather-description {
    text-align: center;
}

.weather-forecast-day {
    font-size: 20px;
    color: #272343;
}
.weather-forecast-temperature-max {
    font-size: 20px;
    color: #272343;
}
.weather-forecast-temperature-min {
    font-size: 20px;
    color: #272343a6;
}
.weather-forecast-description {
    font-size: 18px;
    color: #272343;
}
.card {
    border: solid 2px #e3f6f5;
    background: #e3f6f5;
}
.card:hover {
    cursor: pointer;
    background: #F8FCFD;
}
small {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}
    